* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    background-color:black;
}

.container{
    margin-top:5px;
    margin-bottom:5px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 98vh;
    width: 90%;
    background-color: olive;
    margin-left:50px;
    border-radius:15%;       

}


.card_container{
    margin-top:40px;
    display:flex;
    justify-content:center;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
}

.card{
    
    margin-left: 20px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    border-radius:15%;
    
}

#imput-1{
    margin-left: 40px;
    font-size:larger;
    align-items:center;
    margin-top: 25px;
    margin-bottom:25px;
}

.imagen{
    display:flex;
    justify-content: center;
}

.img_cards{
    
    margin-bottom: 10px;
    border-radius: 5%;
    height: 200px;
    width: 200px;
}

.btn_card{
    margin-top: 25px;
    margin-bottom:15px;
    height: 30px;
    width :150px;
    background-color: blue;
    color:yellowgreen;
    align-items:center;
    justify-content: center;
}

h3{
    color:red;
    font-family: 'Times New Roman', Times, serif;
    margin-top:25px;
    margin-bottom:20px;
    text-align:center;
}

#Dato1{
    color:red;
}

